#row1Img1{
	/*background-image: url("../images/bear.jpg");*/
}
#leftOfMain > section {
	padding:0;
	width: 80%;
	margin: 0 auto;
}
#leftOfMain section > div{
	position: relative;
	width: 205px;
	height: 200px;
	padding:0;
	margin-left: 10px;
	margin-bottom: 20px;
}

#leftOfMain section > div.left{
	float: left;
}

#leftOfMain section > div.right{
	float: right;
}

#leftOfMain section h3{
	border: none;
	color: white;
	background-color: teal;
	padding: 15px;
	margin: 0;
	width: 175px;
	position: absolute;
	bottom: 5px;
	left:0;
	z-index: 1;
	font-size: 1.1em;
	text-align: center;
}

.row > div > img{
	width:205px;
	height: 200px;
	border:none;
	padding: 0;
	margin:0;
}